*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
font-family: sans-serif;
}
a {
display: block;
background: #00A9D4;
color: #fff;
padding: 15px;
cursor: pointer;
text-decoration: none; width: 320px;
text-align: center;
border-radius: 5px;
font-size: 20px;
}
a:hover{
background: #00729D;
}
.btn-2 {
	background: #8637cb
}
.btn-2:hover{
background: #b737cb;
}
.btn-3 {
	background: #ec1c24
}
.btn-3:hover{
background: #ed6161;
}
.btn-4 {
	background: #7c7979
}
.btn-4:hover{
background: #625c5c
}
